flows.json
[
    {
        "id": "9d776a8b62a1fb82",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "744aa40e4e8d80c2",
        "type": "serial in",
        "z": "9d776a8b62a1fb82",
        "name": "mbed",
        "serial": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "ccd6a5933915631a"
            ]
        ]
    },
    {
        "id": "ccd6a5933915631a",
        "type": "function",
        "z": "9d776a8b62a1fb82",
        "name": "conversion String to int",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "114cd79b166b8cfb"
            ]
        ]
    },
    {
        "id": "114cd79b166b8cfb",
        "type": "debug",
        "z": "9d776a8b62a1fb82",
        "name": "affichge dans debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "808f3c6e7fba30d0",
        "type": "inject",
        "z": "9d776a8b62a1fb82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "20647ddb881d8291",
                "7f5eb3a641241880",
                "5fd5dde40db7f0b3"
            ]
        ]
    },
    {
        "id": "20647ddb881d8291",
        "type": "debug",
        "z": "9d776a8b62a1fb82",
        "name": "affichge dans debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "7f5eb3a641241880",
        "type": "twitter out",
        "z": "9d776a8b62a1fb82",
        "name": "Tweet",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "5fd5dde40db7f0b3",
        "type": "twilio out",
        "z": "9d776a8b62a1fb82",
        "twilio": "",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "envoi sms via twilio",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "661d5e2ce370d291",
        "type": "twitter in",
        "z": "9d776a8b62a1fb82",
        "tags": "",
        "user": "false",
        "name": "",
        "inputs": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "5d9018510fef2770"
            ]
        ]
    },
    {
        "id": "5d9018510fef2770",
        "type": "debug",
        "z": "9d776a8b62a1fb82",
        "name": "affichage tweets",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    }
]